/* Tailwind CSS */
@import 'tailwindcss';

/* DaisyUI */
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: 'light';
  default: true;
}

/* For Debugging */
/* * {
  border: 1px solid red;
} */
